header{
    display: flex;
    max-width: 100%;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #c8d4d6;
    position: fixed;
    z-index: 5; 
    width: 100%;
    padding: 3% 4% 1% 2%;
    margin: -20% 0;
}

nav{
    display:flex;
    width: 100%;
    background-color: #fff;
    align-items: center;
    justify-content: center;
}